### VirtualEnv template
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json


### Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

### C extensions
*.so

# VS Code settings
.vscode