{% extends 'base.html' %}
{% block content %}

<p class="lead" >
    {% block main_purpose %}{% endblock %}
</p>

<div class="tabbable">
    <ul class="nav nav-pills nav-stacked col-md-2">
        <li class="active"><a href="#a" data-toggle="tab">Main</a></li>
        <li><a href="#b" data-toggle="tab">Usage and Limitations</a></li>
    </ul>
    <div class="tab-content col-md-10">
        <div class="tab-pane active" id="a">{% block main %}{% endblock %}</div>
        <div class="tab-pane" id="b">{% block usage %}{% endblock %}</div>
    </div>
</div>

{% endblock %}

{% block added_js %}<!-- Custom JavaScript for a script page-->{% endblock %}